In [2]:
import pandas as pd

In [5]:
df = pd.read_clipboard()

In [6]:
df

     Year  Value       Chg
ABQ  2012      5       NaN
ABQ  2013      5  0.000000
ABQ  2014      7  0.400000
ABC  2012      9  0.285714
ABC  2013     22  1.444444
ABC  2014      3 -0.863636

In [7]:
df['Chg'] = df['Value'].pct_change()

In [8]:
df

     Year  Value       Chg
ABQ  2012      5       NaN
ABQ  2013      5  0.000000
ABQ  2014      7  0.400000
ABC  2012      9  0.285714
ABC  2013     22  1.444444
ABC  2014      3 -0.863636

In [9]:
last_city = ""
def kill_first(x):
    if x['Year'] == 2012:
        return pd.np.nan
    else:
        return x['Chg']

In [10]:
df['ClnChg'] = df.apply(kill_first, axis=1)

In [11]:
df

     Year  Value       Chg    ClnChg
ABQ  2012      5       NaN       NaN
ABQ  2013      5  0.000000  0.000000
ABQ  2014      7  0.400000  0.400000
ABC  2012      9  0.285714       NaN
ABC  2013     22  1.444444  1.444444
ABC  2014      3 -0.863636 -0.863636