In [124]:
print 'Step 1.3: create data dictionary'
sat_d = {}
print''
print 'dictionary created'

Step 1.3: create empty dictionary

Empty dictionary created

In [255]:
print 'Step 2.4: Load the data into a list of lists'
print''

import csv

f = open('/Users/EKandTower/Dropbox/GA-DSI/sat_scores.csv','rU')
reader = csv.reader(f)

sat_l=[]

for row in reader:
    sat_l.append(row)


print''
    
print 'Data loaded'

Step 2.4: Load the data into a list of lists


Data loaded

In [208]:
print'Step 2.5: Print the data'
print''
print sat_l

Step 2.5: Print the data

[['State', 'Rate', 'Verbal', 'Math'], ['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NE', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551'], ['All', '45', '506', '514']]

In [209]:
print'Step 2.6: Extract a list of the labels from the data, and remove them from the data'

headers = sat_l[0]

print''
print'The headers are'

print headers

print''

print'The data without the headers is'

sat_l.pop(0)

print sat_l

Step 2.6: Extract a list of the labels from the data, and remove them from the data

The headers are
['State', 'Rate', 'Verbal', 'Math']

The data without the headers is
[['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NE', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551'], ['All', '45', '506', '514']]

In [210]:
print'Step 2.7: Create a list of State names extracted from the data. '

sat_d = {}
import csv

f = open('/Users/EKandTower/Dropbox/GA-DSI/sat_scores.csv','rU')

reader = csv.reader(f)
headers = [next(reader, None)]

print''
print''

for row in reader:
    state_list = [item[0] for item in reader]
    print state_list

Step 2.7: Create a list of State names extracted from the data.


['NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE', 'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI', 'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM', 'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NE', 'OK', 'MO', 'LA', 'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS', 'All']

In [211]:
print'Step 2.8: Print the types of each column'
print type(sat_l[1][0])
print type(sat_l[1][1])
print type(sat_l[1][2])
print type(sat_l[1][3])

Step 2.8: Print the types of each column
<type 'str'>
<type 'str'>
<type 'str'>
<type 'str'>

In [267]:
print'Step 2.9: Do any types need to be reassigned?'

print'A: Yes, Rate, Verbal, and Math columns should be changed to int'

#conversion solution coding found at http://stackoverflow.com/questions/3518778/how-to-read-csv-into-record-array-in-numpy

import numpy as np
from numpy import recfromcsv

sat_lint = np.recfromcsv('/Users/EKandTower/Dropbox/GA-DSI/sat_scores.csv', delimiter=',')

sat_lint

Step 2.9: Do any types need to be reassigned?
A: Yes, Rate, Verbal, and Math columns should be changed to int

rec.array([('CT', 82, 509, 510), ('NJ', 81, 499, 513), ('MA', 79, 511, 515),
 ('NY', 77, 495, 505), ('NH', 72, 520, 516), ('RI', 71, 501, 499),
 ('PA', 71, 500, 499), ('VT', 69, 511, 506), ('ME', 69, 506, 500),
 ('VA', 68, 510, 501), ('DE', 67, 501, 499), ('MD', 65, 508, 510),
 ('NC', 65, 493, 499), ('GA', 63, 491, 489), ('IN', 60, 499, 501),
 ('SC', 57, 486, 488), ('DC', 56, 482, 474), ('OR', 55, 526, 526),
 ('FL', 54, 498, 499), ('WA', 53, 527, 527), ('TX', 53, 493, 499),
 ('HI', 52, 485, 515), ('AK', 51, 514, 510), ('CA', 51, 498, 517),
 ('AZ', 34, 523, 525), ('NV', 33, 509, 515), ('CO', 31, 539, 542),
 ('OH', 26, 534, 439), ('MT', 23, 539, 539), ('WV', 18, 527, 512),
 ('ID', 17, 543, 542), ('TN', 13, 562, 553), ('NM', 13, 551, 542),
 ('IL', 12, 576, 589), ('KY', 12, 550, 550), ('WY', 11, 547, 545),
 ('MI', 11, 561, 572), ('MN', 9, 580, 589), ('KS', 9, 577, 580),
 ('AL', 9, 559, 554), ('NE', 8, 562, 568), ('OK', 8, 567, 561),
 ('MO', 8, 577, 577), ('LA', 7, 564, 562), ('WI', 6, 584, 596),
 ('AR', 6, 562, 550), ('UT', 5, 575, 570), ('IA', 5, 593, 603),
 ('SD', 4, 577, 582), ('ND', 4, 592, 599), ('MS', 4, 566, 551),
 ('All', 45, 506, 514)],
          dtype=[('state', 'S3'), ('rate', '<i8'), ('verbal', '<i8'), ('math', '<i8')])

In [252]:
print 'Step 2.10: Create a dictionary for each column mapping the State to its respective value for that column.'
print''

rate_dict = {s[0]: s[1] for s in sat_l}
verbal_dict = {s[0]: s[2] for s in sat_l}
math_dict = {s[0]: s[3] for s in sat_l}
print''
print'Rate Dictionary'
print rate_dict
print''
print''
print'Verbal Dictionary'
print verbal_dict
print''
print''
print'Math Dictionary'
print math_dict
print''
print''
print''
print'dictionaries created'

Step 2.10: Create a dictionary for each column mapping the State to its respective value for that column.


Rate Dictionary
{'WA': '53', 'DE': '67', 'DC': '56', 'WI': '6', 'WV': '18', 'HI': '52', 'FL': '54', 'WY': '11', 'NH': '72', 'NJ': '81', 'NM': '13', 'TX': '53', 'LA': '7', 'NC': '65', 'ND': '4', 'NE': '8', 'TN': '13', 'NY': '77', 'PA': '71', 'RI': '71', 'NV': '33', 'VA': '68', 'CO': '31', 'AK': '51', 'AL': '9', 'AR': '6', 'VT': '69', 'IL': '12', 'GA': '63', 'IN': '60', 'IA': '5', 'OK': '8', 'AZ': '34', 'CA': '51', 'ID': '17', 'CT': '82', 'ME': '69', 'MD': '65', 'All': '45', 'MA': '79', 'OH': '26', 'UT': '5', 'MO': '8', 'MN': '9', 'MI': '11', 'KS': '9', 'MT': '23', 'MS': '4', 'SC': '57', 'KY': '12', 'OR': '55', 'SD': '4'}


Verbal Dictionary
{'WA': '527', 'DE': '501', 'DC': '482', 'WI': '584', 'WV': '527', 'HI': '485', 'FL': '498', 'WY': '547', 'NH': '520', 'NJ': '499', 'NM': '551', 'TX': '493', 'LA': '564', 'NC': '493', 'ND': '592', 'NE': '562', 'TN': '562', 'NY': '495', 'PA': '500', 'RI': '501', 'NV': '509', 'VA': '510', 'CO': '539', 'AK': '514', 'AL': '559', 'AR': '562', 'VT': '511', 'IL': '576', 'GA': '491', 'IN': '499', 'IA': '593', 'OK': '567', 'AZ': '523', 'CA': '498', 'ID': '543', 'CT': '509', 'ME': '506', 'MD': '508', 'All': '506', 'MA': '511', 'OH': '534', 'UT': '575', 'MO': '577', 'MN': '580', 'MI': '561', 'KS': '577', 'MT': '539', 'MS': '566', 'SC': '486', 'KY': '550', 'OR': '526', 'SD': '577'}


Math Dictionary
{'WA': '527', 'DE': '499', 'DC': '474', 'WI': '596', 'WV': '512', 'HI': '515', 'FL': '499', 'WY': '545', 'NH': '516', 'NJ': '513', 'NM': '542', 'TX': '499', 'LA': '562', 'NC': '499', 'ND': '599', 'NE': '568', 'TN': '553', 'NY': '505', 'PA': '499', 'RI': '499', 'NV': '515', 'VA': '501', 'CO': '542', 'AK': '510', 'AL': '554', 'AR': '550', 'VT': '506', 'IL': '589', 'GA': '489', 'IN': '501', 'IA': '603', 'OK': '561', 'AZ': '525', 'CA': '517', 'ID': '542', 'CT': '510', 'ME': '500', 'MD': '510', 'All': '514', 'MA': '515', 'OH': '439', 'UT': '570', 'MO': '577', 'MN': '589', 'MI': '572', 'KS': '580', 'MT': '539', 'MS': '551', 'SC': '488', 'KY': '550', 'OR': '526', 'SD': '582'}



dictionaries created

In [251]:
print 'Step 2.11: Create a dictionary with the values for each of the numeric columns.'
print''
sat_dict = {s[0]: s[1:] for s in sat_l}
print sat_dict
print''
print'dictionary created'

Step 2.11: Create a dictionary with the values for each of the numeric columns.

{'WA': ['53', '527', '527'], 'DE': ['67', '501', '499'], 'DC': ['56', '482', '474'], 'WI': ['6', '584', '596'], 'WV': ['18', '527', '512'], 'HI': ['52', '485', '515'], 'FL': ['54', '498', '499'], 'WY': ['11', '547', '545'], 'NH': ['72', '520', '516'], 'NJ': ['81', '499', '513'], 'NM': ['13', '551', '542'], 'TX': ['53', '493', '499'], 'LA': ['7', '564', '562'], 'NC': ['65', '493', '499'], 'ND': ['4', '592', '599'], 'NE': ['8', '562', '568'], 'TN': ['13', '562', '553'], 'NY': ['77', '495', '505'], 'PA': ['71', '500', '499'], 'RI': ['71', '501', '499'], 'NV': ['33', '509', '515'], 'VA': ['68', '510', '501'], 'CO': ['31', '539', '542'], 'AK': ['51', '514', '510'], 'AL': ['9', '559', '554'], 'AR': ['6', '562', '550'], 'VT': ['69', '511', '506'], 'IL': ['12', '576', '589'], 'GA': ['63', '491', '489'], 'IN': ['60', '499', '501'], 'IA': ['5', '593', '603'], 'OK': ['8', '567', '561'], 'AZ': ['34', '523', '525'], 'CA': ['51', '498', '517'], 'ID': ['17', '543', '542'], 'CT': ['82', '509', '510'], 'ME': ['69', '506', '500'], 'MD': ['65', '508', '510'], 'All': ['45', '506', '514'], 'MA': ['79', '511', '515'], 'OH': ['26', '534', '439'], 'UT': ['5', '575', '570'], 'MO': ['8', '577', '577'], 'MN': ['9', '580', '589'], 'MI': ['11', '561', '572'], 'KS': ['9', '577', '580'], 'MT': ['23', '539', '539'], 'MS': ['4', '566', '551'], 'SC': ['57', '486', '488'], 'KY': ['12', '550', '550'], 'OR': ['55', '526', '526'], 'SD': ['4', '577', '582']}

dictionary created

In [308]:
print'Step3.12: Print the min and max of each column'
print''

x = np.array([sat_lint])
x.min(axis=0)
x.max(axis=0)

Step3.12: Print the min and max of each column

TypeError: cannot perform reduce with flexible type