# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Flash lesson: lambda functions
Week 3 | Lesson 4.1

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Write and apply one-line **lambda functions**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Lambda

Lambda is a tool for building functions. We already know how to build functions
using def, but let's do a quick comparison of the two.

Here's building a function using def:
```Python
def square_root(x): return x ** .5
```

Here's building the same function using lambda
```Python
square_root_lambda = lambda x: x ** .5
```

In [3]:
def square_root(x): 
    return x** .5

square_root_lambda = lambda x: x ** .5

In [4]:
square_root(2)

1.4142135623730951

In [5]:
square_root_lambda(2)

1.4142135623730951

### Quck check
Write a normal function to calculate the area of a rectangle.

Then, re-write that function as a lambda function.

In [12]:
#Function here
def area(x, y):
    return x*y
    
    
#Lambda function here:
area_lambda = lambda x,y: x*y

# Test them out!
print area(4,5), area_lambda(4,5)

 20 20

### Lambdas are 'anonymous functions'
Lambda functions are useful when you have an operation that your code only calls once.

Some things to remember about lambda:
- it does not contain a return statement
- it is not a named function
- it is a tool for creating anonymous procedures
- it only takes a single expression (so, no loops or if statements)

More information on [Lambda](https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/).

For example, in this code:
```Python
def _range(x):
    return np.max(x) - np.min(x)
    
df.pivot_table(index='A', aggfunc = (np.mean, _range))
```


You can replace the `_range` function with a lambda:

```Python
df.pivot_table(index='A', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))
```

In [13]:
df = pd.DataFrame(np.random.randint(0,100,size=(8, 4)), columns=list('ABCD'))
df2 = pd.DataFrame([x for x in range(0,2)]*4, columns=['Group'])
df = pd.concat([df, df2], axis = 1)
df

    A   B   C   D  Group
0  70  40   6  42      0
1  70  75  57   5      1
2   4  90   8  70      0
3  70  98  77  23      1
4  31  91  17  26      0
5   0  50  87  81      1
6   5  68  55  84      0
7   6   9  76  42      1

In [17]:
df = df.applymap(lambda x: x*2)
df.head()
# df = df.applymap(lambda x: x*2)
# df.head()

     A    B    C    D  Group
0  280  160   24  168      0
1  280  300  228   20      4
2   16  360   32  280      0
3  280  392  308   92      4
4  124  364   68  104      0

In [18]:
def _range(x): return np.max(x) - np.min(x)

df.pivot_table(index = 'Group', aggfunc = (np.mean, _range))

# def _range(x):
#     return np.max(x) - np.min(x)

# df.pivot_table(index = 'Group', aggfunc = (np.mean, _range))

         A           B           C           D
      mean _range mean _range mean _range mean _range
Group
0      110    264  289    204   86    196  222    232
4      146    280  232    356  297    120  151    304

In [24]:
# df.pivot_table(index='Group', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))


df.pivot_table(index='Group', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x))

SyntaxError: invalid syntax (<ipython-input-24-c5105e2622dc>, line 4)

### Independent practice
Practice writing a few lambda functions and applying them to this dataframe

In [25]:
# Problem 1: apply a lambda function that gives the square root of every element
df.applymap(lambda x: x**5)

# Problem 2: apply a lambda function that returns 'skewed' for each column if the difference between
# its mean and median is more than 10% of its standard deviation, otherwise return 'normalish'
# df.apply()

# # Problem 3: create a pivot table, indexed on 'Group', with a lambda aggfunc that returns 
# # the number of group elements greater than 100
# df.pivot_table(???)

               A              B              C              D  Group
0  1721036800000   104857600000        7962624   133827821568      0
1  1721036800000  2430000000000   616132666368        3200000   1024
2        1048576  6046617600000       33554432  1721036800000      0
3  1721036800000  9256148959232  2771746976768     6590815232   1024
4    29316250624  6390089165824     1453933568    12166529024      0
5              0   320000000000  5103830227968  3570467226624   1024
6        3200000  1488827973632   515363200000  4282490290176      0
7        7962624       60466176  2596377985024   133827821568   1024